body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.banner-text {
  position: absolute;
  bottom: 45px; /* Đẩy text lên thêm 10px so với ban đầu */
  left: 50%;
  transform: translateX(-50%); /* Căn giữa chữ */
  font-size: 18px; /* Cỡ chữ nhỏ */
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 15px;
  border-radius: 5px; /* Giữ bo góc nhưng không có nền đen */
}

